<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_rb10_1300e">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dual_rb10_1300e urdf file -->
    <xacro:include filename="$(find dual_rb10_description)/robots/dual_rb10_1300e.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="dual_rb10_1300e.ros2_control.xacro" />


    <xacro:dual_rb10_1300e_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
