[Desktop Entry]
Name=DRT Monitor
Comment=Start Monitoring Program
Exec=bash -c "make monitor"
Path=/home/dev/dev/flame-sdd-server/monitor
Icon=/home/dev/dev/flame-sdd-server/monitor/resource/icon.png
Terminal=false
Type=Application
